/* * Allgemein * */

@font-face {
  font-family: 'Logo-font';
  src: url('./fonts/Logo-font_Matemasie-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Reg';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
    font-family: 'Roboto-Reg';
  }

body{
  background: rgb(222,255,192);
  background: linear-gradient(337deg, rgba(222,255,192,1) 0%, rgba(255,234,205,1) 100%);
  height: 100vh;
}

/* * Hero * */

.logo{
  width: 50px;
  height: 50px;
/*   shadow: rgba(5, 56, 21, 0.35) 0px 5px 15px; */
}

h1{
  text-align: center;
  font-family: 'Logo-font';
  color: rgb(87, 149, 33);
  font-size: 4rem;
  margin: 30px;
}

h2{
 text-align: center;
 color: rgb(45, 79, 19);
}

/** Formular **/

form{
  margin: 50px 7.5%;
  width: 85%;
}

select{

}

input{

}

#name{

}

#yearOfBirth{

}

#specialNeeds{

}

button{

}

/** Animal Output **/

section{

}

div{

}

#savannahHabitat{

}

#jungleHabitat{

}

#aquaticHabitat{

}

#reptileHouse{

}

#forrestHabitat{

}

p{

}
