/* * Allgemein * */

@font-face {
  font-family: 'Logo-font';
  src: url('./fonts/Logo-font_Matemasie-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Reg';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }

html{
    scroll-behavior: smooth;
    font-family: 'Roboto-Reg';
  }

body{
  background: rgb(222,255,192);
  background: linear-gradient(337deg, rgba(222,255,192,1) 0%, rgba(255,234,205,1) 100%);
  height: auto;
}

/* * Hero * */

.logo{
  width: 80px;
  height: 80px;
  margin-right: 10px;
/*   shadow: rgba(5, 56, 21, 0.35) 0px 5px 15px; */
}

h1{
  text-align: center;
  font-family: 'Logo-font';
  color: rgb(87, 149, 33);
  font-size: 6rem;
  margin: 30px 7%;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(87, 149, 33, 0.364);
  ;
}

h2{
 text-align: center;
 color: white;
 text-shadow: 0px 0px 10px  rgb(32, 56, 14);
 padding: 5px;
 font-size: 2rem;
 text-transform: uppercase;
}

/** Formular **/

form{
  margin: 20px 7.5%;
  padding: 3% 6%;
  width: 85%;
  /* for the glass looks like background */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* display flex */
  display: flex;
/*   flex-direction: column;
 */  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  align-content: center;
}

select{
  width: 49%;
  height: 40px;
  text-align: center;
  font-size: 1rem;
    /* for the glass looks like background */
    background: rgba(168, 202, 146, 0.47);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.1px);
    -webkit-backdrop-filter: blur(13.1px);
    border: 1px solid rgba(255, 255, 255, 0.692);
}

input{
  font-size: 1rem;
  width: 49%;
  height: 40px;
  padding: 5px 15px;
  /* for the glass looks like background */
  background: rgba(168, 202, 146, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
  border: 1px solid rgba(255, 255, 255, 0.692);
  color: black;
}

/* #name{}
#yearOfBirth{}
#specialNeeds{} */

#submit{
  width: 100%;
  height: 40px;
  background-color: rgba(87, 149, 33, 0.777);
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.1px);
  -webkit-backdrop-filter: blur(13.1px);
  border: 1px solid rgba(255, 255, 255, 0.692);
  font-size: 1.1rem;
}

/** Animal Output **/

section{
  display: flex;
  flex-wrap: wrap;
  gap: 2.5%;
  margin: 3%;
}

div{
  border-radius: 10px;
  width: 40svw;
  height: 50svh;
  /* Background allgmenein ⬇️ */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: fill;
  margin: 2.5%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 5px solid rgba(227, 246, 220, 0.505);
}

#savannahHabitat{
  background-image: url(./img/savanna1.jpg);
}

#jungleHabitat{
  background-image: url(./img//djungle1.jpg);
}

#aquaticHabitat{
  background-image: url(./img//aquarium2.jpg);
}

#reptileHouse{
  background-image: url(./img/reptil-house2.jpg);
}

#forrestHabitat{
  background-image: url(./img/forrest1.jpg);
}

p{
  background-color: lightyellow;
  padding: 5px;
  color: rgb(14, 36, 5);
  font-size: 0.9rem;
}

button{
  background-color: rgb(87, 149, 33);
  border: 1px solid rgba(255, 255, 255, 0.692);
  color: white;
  border-radius: 6px;
  height: 30px;
  padding: 5px;
  font-size: 0.7rem;
}
